Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0
Sphinx==1.2.3
certifi==14.05.14
docutils==0.12
gnureadline==6.3.3
ipython==2.3.0
lxml==3.4.0
nltk==3.0.0
nose==1.3.4
numpy==1.9.1
pyzmq==14.4.1
tornado==4.0.2
